/* Base styles for the carousel container */
.carouselPage0 {
    width: 100%;
    height: 500px;
    background-image: url('../assets/Slider_img_1.jpg'); 
    /* Path relative to the public folder */
    background-size: cover; /* Cover the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    text-align: center;
    justify-content: center;
    color: white;
}

.carouselPage1 {
    width: 100%;
    height: 500px;
    background-image: url('../assets/Slider_img_2.jpg'); 
    /* Path relative to the public folder */
    background-size: cover; /* Cover the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    text-align: center;
    color: white;
    justify-content: center;
}

/* Title styling */
.carouselTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #000000;
}

/* Subtitle styling */
.carouselSubtitle {
    font-size: 16px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}

/* Button styling */
/* .ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
    color: white;
} */

/* .ant-btn-primary:hover {
    background-color: #096dd9;
    border-color: #096dd9;
} */
